/* ======================= public sans font ======================= */
@import url("https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,100..900;1,100..900&display=swap");
/* ======================= public sans font ======================= */

@import "tailwindcss";

@theme {
  /* Custom Color Variables */
  --color-gray-0: #ffffff; /* Gray/00 - Pure white */
  --color-gray-50: #f2f4f5;
  --color-gray-500: #77878f;
  --color-gray-600: #5f6c72;
  --color-gray-800: #303639; /* Gray/800 - Dark gray */
  --color-gray-900: #191c1f; /* Gray/900 - Very dark gray */

  /* Semantic Color Variables */
  --color-warning-300: #f3de6d; /* Light warning yellow */
  --color-warning-500: #ebc80c; /* Main warning yellow */
  --color-primary-500: #fa8232;

  /* Alternative naming convention for easier usage */
  --color-white: #ffffff;
  --color-blackk: #191c1f;
  --color-dark-gray: #303639;
  --color-yellow-light: #f3de6d;
  --color-yellow: #ebc80c;

  /* Secondary colors Blue */
  --color-secondary-700: #1b6392;

  /* Font Family Variables */
  --font-public-sans: "Public Sans", sans-serif;

  /* Font Weight Variables */
  --font-weight-thin: 100;
  --font-weight-extra-light: 200;
  --font-weight-light: 300;
  --font-weight-normal: 400;
  --font-weight-medium: 500;
  --font-weight-semi-bold: 600;
  --font-weight-bold: 700;
  --font-weight-extra-bold: 800;
  --font-weight-black: 900;
}

/* Root variables for global usage */
:root {
  /* Background colors */
  --bg-primary: var(--color-white);
  --bg-secondary: var(--color-gray-0);
  --bg-dark: var(--color-gray-900);
  --bg-accent: var(--color-gray-800);
  --bg-secondary: var(--color-secondary-700);

  /* Text colors */
  --text-primary: var(--color-gray-900);
  --text-secondary: var(--color-gray-800);
  --text-light: var(--color-white);

  /* Warning/Alert colors */
  --warning-light: var(--color-warning-300);
  --warning-main: var(--color-warning-500);

  /* Border colors */
  --border-light: var(--color-gray-0);
  --border-dark: var(--color-gray-800);
}
